@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --primary-color: #4b7bec;
  --secondary-color: #fc5c65;
  --background-color: #f8f9fa;
  --text-color: #333;
  --success-color: #26de81;
  --warning-color: #fed330;
  --info-color: #45aaf2;
  --light-grey: #d1d8e0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  position: relative;
  margin: 30px auto;
  width: 350px;
  background: #ffffff;
  padding: 20px;
  padding-bottom: 80px; /* Space for button */
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

h3, h4 {
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

h3 {
  font-size: 24px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--light-grey);
}

.form-control {
  margin: 20px 0;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20px;
  box-shadow: var(--box-shadow);
}

.btn:hover {
  background-color: darken(var(--primary-color), 10%);
}

.button-container {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.inc-exp-container, .list {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.money.plus {
  text-align: center;
  font-size: 30px; 
  font-weight: 700;
  
  color: var(--success-color);
}

.money.minus {
  text-align: center;
  font-size: 30px; 
  font-weight: 700;
  color: var(--warning-color);
}

.list li {
  border-right: 5px solid transparent;
  padding: 10px;
  margin: 8px 0;
}

.list li.plus {
  border-color: var(--success-color);
}

.list li.minus {
  border-color: var(--warning-color);
}

.delete-btn {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 50%;
  float: right;
}

.delete-btn:hover {
  background-color: darken(var(--secondary-color), 10%);
}
/*
body {
  background-image: url('space2image.webp');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  margin: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

*/